<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheResult="false"
  failOnRisky="true"
  failOnWarning="true"
>
  <testsuites>
    <testsuite name="ReadySetShows">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <ini name="log_errors" value="1"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
